DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/notifications_db?retryWrites=true&w=majority
PORT=4000
EXTERNAL_API_BASE=http://20.207.122.201/evaluation-service
EXTERNAL_API_KEY=replace_with_token
UPSTASH_REDIS_REST_URL=https://your-instance.upstash.io
UPSTASH_REDIS_REST_TOKEN=replace_with_upstash_token
